*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  background-color: darkgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

input {
  padding: 10px;
  margin: 1em 35vw;
}

p {
  text-align: center;
  margin-top: 1em;
}